body {
    font-family: Arial;
    background: #111;
    color: #eee;
    padding: 30px;
}

h1, h2 {
    text-align: center;
}

.card {
    background: #222;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    width: 80%;
    box-shadow: 0 0 10px #000;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #333;
}

th, td {
    padding: 8px;
    border-bottom: 1px solid #444;
}
